*{
    box-sizing: border-box;
}

p { 
    font-size: 1.12rem !important;
    text-align: center;
    padding: 0 30px;
}

.recuperar {
    color: #252525;
}

.recuperar:hover{
    color: #252525;
    font-weight: bold;
}

.custom-container {
    background-color: #F6F3EF;
}

.container-form {
    background-color: #F6F3EF;
    padding-bottom: 30px !important;
    margin-bottom: 30px;
}

.form-label {
    font-family: Baskervville;
    font-weight: 600;
}

.forms-block {
    margin-bottom: 50px;
}

.form-input {
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 2px #BC4C2A;
    color: #000;
    height: 35px;
    padding: 0 10px;
}

.modal-text{
    font-size: 1.25rem;
}

@media (max-width: 420px) {

    .custom-form-box {
        padding: 0 10px !important;
        margin: 0 !important;
    }

}

@media (max-width: 450px) {

    .btn-retorno {
        padding: 8px;
        width: 120px;
        font-size: 16px;
    }

    .btn-confirmacao {
        padding: 8px;
        width: 120px;
        font-size: 16px;
    }
    

}