.title-logo {
    background-color: #F6F3EF !important;
    margin: 0;
    padding: 0;
}

.logo {
    height: 70px;
    width: auto;
    margin: 10px 0 10px 40px;
}

.logo-2 {
    display: none;
    height: 50px;
    width: auto;
    margin: 10px 0 10px 0;
}

.logo-marca {
    width: 40px;
}

@media (max-width: 420px) {

    .logo {
        display: none;
    }

    .logo-2 {
        display: flex;
    }

}